* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1E1E;
}
.bannerPrincipal {
  height: 100vh;
}

.bannerPrincipal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.titleEntrySection {
  background: #D9D9D9;
  box-shadow: 0px 0px 40px -11px #D9D9D9;
  border-radius: 30px;
  width: 421px;
  height: 98px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -98px;
  left: 50%;
  transform: translateX(-50%);
}

.boxRockets {
  position: relative;
  cursor: pointer;
  height: 475px;
}

.boxRockets img {
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
  transition: 0.4s all ease;
  width: 100%;
  height: 100%;
}

.boxRockets:hover img {
  height: 392px;
}

.boxRockets .boxTitle {
  background: #D9D9D9;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  min-height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.26s;
}

.boxRockets:hover .boxTitle {
  min-height: 220px;
  justify-content: start;
}

.boxRockets .boxTitle h2 {
  margin: 0;
  text-align: center;
  transition: all 0.26s;
}